name: Pull and Test

on:
    pull_request:
        branches: []
        paths-ignore:
            - 'data/**'
            - 'requirements.txt'
            - 'README.md'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - 
             name: Set up QEMU
             uses: docker/setup-qemu-action@v3
            - 
             name: Set up Docker Buildx
             uses: docker/setup-buildx-action@v3
            - 
             name: Login to Docker Hub
             uses: docker/login-action@v3
             with:
                username: ${{ secrets.DOCKERHUB_UNAME }}
                password: ${{ secrets.DOCKERHUB_SECRET }}
            -
             name: Pull image from registry
             run: |
                docker pull ${{ secrets.DOCKERHUB_UNAME }}/local-builds:latest
            -
             name: Run image and test
             # id: run_container
             run: |
                OUTPUT=$(docker run ${{ secrets.DOCKERHUB_UNAME }}/local-builds:latest)
                echo "Score:"
                echo "$OUTPUT"
                if (( $(echo "$OUTPUT < 0.30" | bc -l) )); then
                  echo "Insufficient Accuracy"
                  exit 1
                fi
             shell: bash